*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    margin: 0px;
}

button:hover{
    background-color: rgb(252, 206, 206) !important;
}

.youtubeLink{
    text-decoration: none;
    color: #000;
}
